@inject IHttpContextAccessor httpContextAccessor
@inject Application.Authentication.Google.IGoogleAuth GoogleAuth
@using System.Text.Json
@using Google.Apis.Oauth2.v2.Data
@using Google.Apis.Auth.OAuth2;
@using Domain;
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BirdPlatFormApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/BirdServicePages/Index">Bird Platform</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    @* <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CustomerPages/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul> *@
                    @{
                        var userJSON = httpContextAccessor.HttpContext!.Session.GetString("current_user");
                        var user = userJSON == null ? default(ApplicationUser) : JsonSerializer.Deserialize<ApplicationUser>(userJSON);
                    }
                    @if (user is null)
                    {
                        <button class="btn btn-outline-primary"><a class="text-decoration-none" asp-page="/Login">Login</a></button>
                    }
                    else
                    {
                        <div class="d-flex">
                            <span class="d-flex align-items-center">@user.UserName</span>
                            <div class="dropdown">
                                <img class="ms-2 img-thumbnail avatar dropdown-toggle" src="@user.AvatarUrl" data-toggle="dropdown">
                                @if (@user.RoleId == 1)
                                {
                                    <ul class="dropdown-menu">
                                        <li class="list-group-item btn-outline-primary"><a class="text-decoration-none text-black" href="/ProviderPages/CreateBirdService">Create Service</a></li>
                                        <li class="list-group-item btn-outline-primary"><a class="text-decoration-none text-black" href="/ProviderPages/TicketManagement">View Orders</a></li>
                                        <li id="btnLogout" class="list-group-item btn-outline-danger" onclick="logout()">Logout</li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="dropdown-menu">
                                        <li class="list-group-item btn-outline-primary"><a class="text-decoration-none text-black" href="/BirdServicePages/OrderTrackingProgress">Order Tracking</a></li>
                                        <li id="btnLogout" class="list-group-item btn-outline-danger" onclick="logout()">Logout</li>
                                    </ul>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container d-flex align-items-center mt-5">
        <main class="mt-5 pb-3">
            @RenderBody()
        </main>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function logout() {
            "@GoogleAuth.LogoutAsync()"
            window.location.href = "/Login"
        }

        function toogleProvider(id) {
            var providerId = "provider-" + id;
            document.getElementById(providerId).classList.toggle("hidden");
        }

        function showFeedbackModal(id) {
            var feedbackId = "feedback-" + id;
            document.getElementById(feedbackId).style.display = "block";
        }
        function addFeedbackModal(id) {
            var feedbackId = "add-feedback-" + id;
            document.getElementById(feedbackId).style.display = "block";
        }
        function closeFeedbackModal(id) {
            var feedbackId = "feedback-" + id;
            document.getElementById(feedbackId).style.display = "none";
        }

        function ticketPopup() {
            fromDateInp = document.getElementById("fromDate");
            toDateInp = document.getElementById("toDate");

            if (fromDateInp.value == '') {
                alert("From date must be required!!!"); return;
            }
            if (toDateInp.value == '') {
                alert("To date must be required!!!"); return;
            }
            fromDate = new Date(fromDateInp.value);
            toDate = new Date(toDateInp.value);

            if (fromDate - Date.now() < 0 || toDate - Date.now() < 0) {
                alert("Date must be later than today!!!"); return;
            }

            if (toDate - fromDate == 0) {
                alert("To date must be later than 1 day!!!"); return;
            }

            if (toDate - fromDate < 0) {
                alert("From date must be earlier!!!"); return;
            }

            totalDays = document.getElementById("totalDays");
            totalPrice = document.getElementById("totalPrice");
            price = document.getElementById("price");

            fromDateInput = document.getElementById("fromDatePopup");
            toDateInput = document.getElementById("toDatePopup");
            fromDateInput.value = formatDate(fromDate);
            toDateInput.value = formatDate(toDate);

            totalDays.value = (toDate.getTime() - fromDate.getTime()) / (1000 * 3600 * 24);
            totalPrice.value = parseInt(price.value) * parseInt(totalDays.value);

            document.getElementById("ticketPopup").style.display = "block";
        }

        function closeTicketPopup() {
            document.getElementById("ticketPopup").style.display = "none";
        }
        function padTo2Digits(num) {
            return num.toString().padStart(2, '0');
        }

        function formatDate(date = new Date()) {
            return [
                date.getFullYear(),
                padTo2Digits(date.getMonth() + 1),
                padTo2Digits(date.getDate()),
            ].join('-');
        }
    </script>
</body>
</html>